

<div class="ui container" *ngIf="cartWithDetails.length > 0" style="margin-top: 20px;  display: flex; flex-direction: column;" >

  <!--------Card-------------------------------------------------->
  <div class="ui cards" style="margin-left: auto;">
    <div class=" card">

      <div class=" content">
        <div class="header">Grand Total</div>
        <div class="description">
          <strong style="color: rgb(6, 45, 239);"> {{ totalPrice() | currency }}</strong>
        </div>
      </div>
      <div class="ui bottom attached button">
        <i class="credit card outline icon"></i>
        Proceed to payment
      </div>

    </div>
  </div>
  
<!--------Card-------------------------------------------------->

    <table  class="ui inverted black table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Photo</th>
          <th>Name</th>
          <th>Price</th>
          <th>Remove product</th>
          
        </tr>
      </thead>
      <tbody *ngFor="let item of cartWithDetails">
        <tr >
          <td>{{ item.id }}</td>
          <img style="height: 100px;  overflow: hidden; width: 100px;" src="{{item.imageURL}}">
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          
          <td><button class="ui red button" (click)="removeFromCart(item.id)">Delete</button></td>
          
        </tr>
      </tbody>
    </table>


  </div>


  <div *ngIf="cartWithDetails.length === 0" class="ui message" style="display: flex; align-items: center; justify-content: center;">
  
    <p>Your cart is empty.</p>
  </div>



  <div *ngIf="showMessage" style="display: flex; justify-content: center; align-items: center; height: 30px; width: 400px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" class="ui green message">
    Product has been removed from cart
  </div>